*{
     margin: 0;
     padding: 0;
     text-decoration: none;
}

header,
main,
nav,
footer,
section {
      display: block;
}


#Brand img{
     display: block;
     
     margin-left: 89px;
     margin-top: 45px;
     border-radius: 15px;

} 
 #Brand button{
     border: none;
    margin-left: 50px;
    margin-top: 45px;
    margin-bottom: 55px;
    width: 160px;
    height: 50px;
    background: #ffffff;
    border-radius: 6px;
    color:#ED4C5C;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
} 



#bbb{
    background-color: white;
    margin-left: 50px;
     margin-top: 56px; 
}

#brand2{

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 43px;

color: #000000;

} 

#bbb p{
   
width: 445px;
height: 83px;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;

text-align: justify;

color: #000000;
    margin-top: 30px;
    margin-bottom: 20px;
}


#cr7{
   
    color: red;
}

#brand3 div{

    margin-top: -40px;
}
div button{
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 350px;
    height: 40px;
    color: red;
    background: white;
    border: none;
    margin-right: 30px;
    margin-bottom: 63px;
}
#brand a{
    color: red;
}

#brand3 img{
     margin-right: 30px;
    background: url(.jpg), #FFFFFF;
    border-radius: 8px;
    margin-top: 40.72px;
   color: red;
} 
button a{
    color: red;
}

#brand4{
    
    margin-left : 30px;
 } 
 #brand5{
  
    width: 350px;
   height: 248.86px;
    border-radius: 8px;
    margin-left : 30px;
 } 
#brand6{
    position: absolute;
    width: 350px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.section3{
    /* padding-left: 50px; */
     /* width: 100%; */
     padding-left:50px ;
     background: #F5F4F4;
     margin-top: 0px; 
      height: 657px; 
}
.section3 h1{
    /* padding-left: 50px; */
    padding-top: 57px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}
.section3 button{
    /* padding-left: 50px; */
    margin-right: 30px;
    border: none; 
    background: #FFFFFF;
    width: 255px;
    height: 226px;

}
.button2{
     padding-left: 50px; 
}
.button1{
    /* padding-left: 50px; */
    text-align: center;
    margin-top: 56px;
}
.button1 img{

    margin-top: 71px;
   
}
.button1 h3{

   
    margin-top: 12px;
    margin-bottom: 10px;
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 18px;
color: #101010;

}
.button1 p{

    font-size: 12px;
    width: 191px;
    height: 51px;
    padding-left:34px ;
    margin-bottom: 10px;
    
}

footer {
    padding-left: 53px;
    padding-top: 30px;
    padding-bottom: 23px;
    background-color: #ED4C5C;
}

footer img {
    padding-right: 25px;
}
footer span {
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;
color: #FFFFFF;

    padding-left: 80px;
}
.adam{
    background-color: #ED4C5C;
    color: #FFFFFF;
}
header{
    padding-top: 59px;
    width: 100%;
    color : #FFFFFF
}

nav{
    
    color: #FFFFFF;
    margin-left: 49px; 
    margin-top: 48px;
    height: 22px;
    font-family: Lato;
font-style: normal;
font-weight: bold;
}
nav a{
    color: white;
    margin-right: 15px;
} 
nav :hover{
    color: grey;
}


#logo {
   display: block;
    background-image: url("../images/cloud.jpg");
    background-repeat: no-repeat;
    margin-left: 51.45px;
   
}



#logo span{
    padding-top: 50px;
    font-family: lato;
font-style: normal;
font-weight: bold;
font-size: 18px;
    margin-left: 34.55px;
   color: #FFFFFF;
}  
